# Dependencies
node_modules/
.pnpm-store/
.build-tools/

# Build output
dist/
dist-ssr/
*.local
*.dmg

# Tauri build artifacts
src-tauri/target/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
